{% import 'macros/information_prototype.html.twig' as macro %}
{{ form_start(form, {'attr': {'id': 'new-test-form'}}) }}
<h4>{{ form_widget(form.name) }}</h4>
<div class="new-test-error name-error"></div>
{{ form_widget(form.description) }}
<div class="test-questions" data-prototype="{{ macro.information_prototype(form.questions.vars.prototype)|e('html_attr')  }}">
    {% for question in form.questions %}
        {{ macro.information_prototype(question) }}
    {% endfor %}
    <div class="add-next-question">
        <i class="fas fa-plus"></i>
        Dodaj pytanie
    </div>
</div>
<button id="add-new-test-btn" class="test-btn" type="submit">Zapisz</button>
{{ form_end(form) }}