{% extends 'base.html.twig' %}

{% block title %}Nowy test{% endblock %}

{% block body %}

    <section class="create-new-test-container">
        <h1><i class="far fa-file-alt"></i> Utwórz nowy test</h1>
        {#<div class="loading">#}
            {#<img src="{{ asset('img/loading.gif') }}" alt="">#}
        {#</div>#}
        <div class="create-new-test test-editing">
            {#{{ form_start(form, {'attr': {id: 'new-test-form'}}) }}#}
            {#{{ form_label(form.name) }}#}
            {#{{ form_widget(form.name, {'attr': {placeholder: 'Wprowadź nazwę'} }) }}#}
            {#<div class="new-test-error">#}
                {#{% for error in form.name.vars.errors %}#}
                    {#<span>{{ error.message }}</span>#}
                {#{% endfor %}#}
            {#</div>#}

            <button type="submit" class="new-test-btn">Utwórz</button>
            {#{{ form_end(form) }}#}
            <h4>Test z funkcji trygonometrycznych <i class="fas fa-edit"></i></h4>
            <textarea class="input-test input-test-description" placeholder="Wprowadź opis testu, dodatkowe informacje"></textarea>
            <div class="test-upper-informations">
                <table class="student-details">
                    <tr>
                        <td>Imię i nazwisko</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nr indeksu</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kierunek</td>
                        <td style="width: 200px"></td>
                    </tr>
                </table>
                <table class="student-details">
                    <tr>
                        <td>Ilość punktów</td>
                        <td style="width: 100px"></td>
                    </tr>
                </table>
            </div>
            {{ form_start(form) }}
            <div class="test-questions" data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
                <div class="add-next-question">
                    <i class="fas fa-plus"></i>
                    Dodaj kolejne pytanie
                </div>
            </div>
            {{ form_end(form) }}
            {#<form id="questions-form" method="post">#}
                {#<div class="test-questions">#}
                    {#<div id="question-nr1" class="question-edit-mode">#}
                        {#<textarea class="input-test input-test-question" placeholder="Pytanie 1..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź A..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź B..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź C..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź D..."></textarea>#}
                    {#</div>#}
                    {#<div id="question-nr2" class="question-edit-mode">#}
                        {#<textarea class="input-test input-test-question" placeholder="Pytanie 2..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź A..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź B..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź C..."></textarea>#}
                        {#<textarea class="input-test input-test-answer" placeholder="Odpowiedź D..."></textarea>#}
                    {#</div>#}
                    {#<div class="add-next-question">#}
                        {#<i class="fas fa-plus"></i>#}
                        {#Dodaj kolejne pytanie#}
                    {#</div>#}
                {#</div>#}
                {#<button id="add-new-test-btn" type="submit">Utwórz</button>#}
            {#</form>#}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/new_test.js') }}"></script>
{% endblock %}
