{% extends 'base.html.twig' %}
{% block title %}Podgląd testu{% endblock %}
{% block body %}
    <div class="test-view-container">
        <div class="test-view">
            <div title="Usuń test" class="delete-test">
                <a href="{{ path('app_test_remove', {'testId': test.id}) }}">
                    <i class="far fa-trash-alt"></i>
                </a>
            </div>
            <div title="Edytuj test" class="edit-this-test">
                <a href="{{ path('app_test_edit', {'testId': test.id}) }}">
                    <i class="far fa-edit"></i>
                </a>
            </div>
            <div title="Widok PDF" class="pdf-view">
                <a href="{{ path('app_test_pdf_view', {'testId': test.id}) }}">
                    <i class="far fa-file-pdf"></i>
                </a>
            </div>
            <div title="Pobierz" class="pdf-download">
                <a href="{{ path('app_test_download', {'testId': test.id}) }}">
                    <i class="fas fa-file-download"></i>
                </a>
            </div>
            <div class="test-name">
                <b>{{ test.name|wordwrap(50) }}</b>
            </div>
            <div class="test-description">
                {{ test.description|nl2br }}
            </div>
            <div class="test-upper-informations">
                <table class="student-details">
                    <tr>
                        <td>Imię i nazwisko</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nr indeksu</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kierunek</td>
                        <td style="width: 200px"></td>
                    </tr>
                </table>
                <table class="student-details">
                    <tr>
                        <td>Ilość punktów</td>
                        <td style="width: 100px"></td>
                    </tr>
                </table>
            </div>
            <div class="test-questions">
                {% for question in test.questions %}
                    <div class="test-question">
                            <div>{{ question.title }}</div>
                            <div>{{ question.answer1 }}</div>
                            <div>{{ question.answer2 }}</div>
                            <div>{{ question.answer3 }}</div>
                            <div>{{ question.answer4 }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}