{% extends 'base.html.twig' %}
{% block title %}Nowy test{% endblock %}

{% block body %}
    <section class="create-new-test-container">
        <h1><i class="far fa-file-alt"></i> Utwórz nowy test</h1>
        <div class="create-new-test">
            {{ form_start(form, {'attr': {id: 'new-test-form'}}) }}
            {{ form_widget(form.name) }}
            <div class="new-test-error">
                {% for error in form.name.vars.errors %}
                    <span>{{ error.message }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="test-btn" id="new-test-btn">Utwórz</button>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/new_test.js') }}"></script>
{% endblock %}
