{% extends 'base.html.twig' %}
{% import 'macros/information_prototype.html.twig' as macro %}
{% block title %}Edytuj test{% endblock %}

{% block body %}
    <section class="create-new-test-container">
        <div class="create-new-test test-editing" style="display: block">
            {{ form_start(form, {'attr': {'id': 'new-test-form'}}) }}
            <h4>{{ form_widget(form.name, {'attr': {'value': test.name}}) }}</h4>
            <div class="new-test-error">
                {% for error in form.name.vars.errors %}
                    <span>{{ error.message }}</span>
                {% endfor %}
            </div>
            {{ form_widget(form.description, {'value': test.description}) }}
            <div class="test-questions" data-prototype="{{ macro.information_prototype(form.questions.vars.prototype)|e('html_attr')  }}">
                {#{% for question in test.questions %}#}
                    {#<div class="question-edit-mode">#}
                        {#<textarea id="test_questions_{{ loop.index0 }}_title" name="test[questions][{{ loop.index0 }}][title]" required="required" placeholder="Pytanie..." required="required" class="input-test input-test-question">{{ question.title }}</textarea>#}
                        {#<div class="new-test-error">#}
                        {#</div>#}
                        {#<div title="Usuń pytanie" class="remove-question"><i class="fas fa-times-circle"></i></div>#}
                        {#<textarea id="test_questions_{{ loop.index0 }}_answer1" name="test[questions][{{ loop.index0 }}][answer1]" placeholder="Odpowiedź A..." class="input-test input-test-answer">{{ question.answer1 }}</textarea>#}
                        {#<textarea id="test_questions_{{ loop.index0 }}_answer2" name="test[questions][{{ loop.index0 }}][answer2]" placeholder="Odpowiedź B..." class="input-test input-test-answer">{{ question.answer2 }}</textarea>#}
                        {#<textarea id="test_questions_{{ loop.index0 }}_answer3" name="test[questions][{{ loop.index0 }}][answer3]" placeholder="Odpowiedź C..." class="input-test input-test-answer">{{ question.answer3 }}</textarea>#}
                        {#<textarea id=T"test_questions_{{ loop.index0 }}_answer4" name="test[questions][{{ loop.index0 }}][answer4]" placeholder="Odpowiedź D..." class="input-test input-test-answer">{{ question.answer4 }}</textarea>#}
                    {#</div>#}
                {#{% endfor %}#}
                {% for question in form.questions %}
                    {{ macro.information_prototype(question) }}
                {% endfor %}
                <div class="add-next-question">
                    <i class="fas fa-plus"></i>
                    Dodaj pytanie
                </div>
            </div>
            <button id="edit-test-btn" class="test-btn" type="submit">Zapisz</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/new_test.js') }}"></script>
{% endblock %}