<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <header class="top-bar">
            <div class="top-content">
                <div class="logo">
                    <a href="{{ path('app_homepage') }}">
                        <i class="fas fa-tasks"></i>
                        Kreator testów
                    </a>
                </div>
                <div class="user-info">
                    {% if app.user %}
                        {{ app.user.firstName }} {{ app.user.lastName }}
                        <span class="user-logout"><a href="{{ path('app_logout') }}">Wyloguj</a></span>
                        <div class="user-avatar">
                            <i class="fas fa-user-circle"></i>
                        </div>
                    {% else %}
                        <span id="login-action"><a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> Zaloguj</a></span>
                        <span id="new-account"><a href="#"><i class="fas fa-user-plus"></i> Nowe konto</a></span>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="container">
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.js"
                    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                    crossorigin="anonymous">
            </script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
