{% extends 'base.html.twig' %}

{% block title %}Kreator testów{% endblock %}

{% block body %}
    <main>
        <section class="started-tests-container">
            <h3>Ostatnio edytowane</h3>
            {#{% for test in lastEdited %}#}
                {#<div class="test">#}
                    {#{% include 'test/test_view.html.twig' %}#}
                {#</div>#}
            {#{% endfor %}#}
            <div class="your-tests">
                {#{% for test in lastEdited %}#}
                {#<div class="test">#}
                {#{% include 'test/test_view.html.twig' %}#}
                {#</div>#}
                {#{% endfor %}#}
                {% for test in lastEdited %}
                    <div class="test">
                        <div class="test-inside-informations">
                            <div class="test-inside test-updated-inside">
                                Ostatnia edycja: {{ test.updatedAt|date('d.m.Y H:i') }}
                            </div>
                            <div class="test-inside test-created-inside">
                                Utworzony: {{ test.createdAt|date('d.m.Y H:i') }}
                            </div>
                            <div class="test-inside test-questions-inside">
                                Liczba pytań: {{ test.questions|length }}
                            </div>
                        </div>
                        <div class="test-name-inside">
                            {{ test.name }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}