{% extends 'base.html.twig' %}

{% block title %}Kreator testów{% endblock %}

{% block body %}
    <main>
        <section class="started-tests-container">
            <h3>Twoje ostatnie testy</h3>
            <div class="your-tests">
                {% for test in lastEdited %}
                <a href="{{ path('app_test_view', {testId: test.id}) }}">
                    <div class="test">
                            <div class="test-inside-informations">
                                <div class="test-inside test-updated-inside">
                                    Ostatnia edycja: {{ test.updatedAt|date('d.m.Y H:i') }}
                                </div>
                                <div class="test-inside test-created-inside">
                                    Utworzony: {{ test.createdAt|date('d.m.Y H:i') }}
                                </div>
                                <div class="test-inside test-questions-inside">
                                    Liczba pytań: {{ test.questions|length }}
                                </div>
                            </div>
                            <div class="test-name-inside">
                                {{ test.name|truncate(40) }}
                            </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}